body
{
    background-color:#ffffff;
    font-family: 'Sorts Mill Goudy', serif;
    font-family: 'Oranienbaum', serif;
    
}
#containter
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.logo
{
    height:80px;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    
}
.menu
{
    height:40px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 18px;
    background-color: #2ec5b1;
    color:#1b0e0e;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.mp
{
    float: left;
    min-width: 130px;
    background-color: #a9c755;
    text-align: center;
    padding-left: 90px;
    padding-right: 20px;

}
.mp:hover
{
    cursor: pointer;
}
.books
{
    float: left;
    min-width: 130px;
    background-color: #ace01e;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.books:hover
{
    cursor: pointer;
}
.films
{
    float: left;
    min-width: 130px;
    background-color: #4a3486;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}
.films:hover
{
    cursor: pointer;
}
.travels
{
    float: left;
    min-width: 130px;
    background-color: #b3be92;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.travels:hover
{
    cursor: pointer;
}
.medicine
{
    float: left;
    min-width: 130px;
    background-color: #cf7711;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.medicine:hover
{
    cursor: pointer;
}
.programming
{
    float: left;
    min-width: 130px;
    background-color: #354608;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.programming:hover
{
    cursor: pointer;
}
.contact
{
    float: left;
    min-width: 130px;
    background-color: #4c466b;
    text-align: center;
    padding-left: 20px;
    padding-right: 90px;
    
}
.contact:hover
{
    cursor: pointer;
}
.postcard
{
    float: left;
    margin-top:20px;
    margin-left: 150px;
    height:200px;
    padding-bottom:40px;
    background-color: black;
}
.text
{
    float: left;
    margin-top:20px;
    margin-left:500;
    height:200px;
    padding: 20px;
    width: 660px;
    margin-left:470;
    background-color: #c3d612;
}
.text2
{
    float: left;
    margin-top:20px;
    margin-left:500;
    height:200px;
    padding: 20px;
    width: 660px;
    margin-left:470;
    background-color: #c26946;
    
}
.text3
{
    float: left;
    margin-top:20px;
    margin-left:500;
    height:200px;
    padding: 20px;
    width: 660px;
    margin-left:470;
    background-color: #78ac85;
    
}






