body
{
    background-color:#ffffff;
    font-family: 'Sorts Mill Goudy', serif;
    font-family: 'Oranienbaum', serif;
    
}
#containter
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.logo
{
    height:80px;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    
}
.menu
{
    margin-left: auto;
    margin-right: auto;
    height:25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 17px;
    background-color: #ffffff;
    color:#757575;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:#e6e6e6; 
}
.menu1
{
    width: 900px;
    margin-left: auto;
    margin-right:auto;
    height:24px;
    background-color: #ffffff;
    

}
.mp
{
    float: left;
    width: 120px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}
.mp:hover
{
    cursor: pointer;
    background-color: #ebebebf3;
    color:#000000;
}
.books
{
    float: left;
    width: 60px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.books:hover
{
    cursor: pointer;
    background-color: #ebebebf3;
    color:#000000;
    
}
.films
{
    float: left;
    min-width: 60px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}
.films:hover
{
    cursor: pointer;
    background-color: #ebebebf3;
    color:#000000;
}
.travels
{
    float: left;
    min-width: 60px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.travels:hover
{
    cursor: pointer;
    background-color: #ebebebf3;
    color:#000000;
}

.medicine
{
    float: left;
    min-width: 60px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.medicine:hover
{
    cursor: pointer;
    background-color: #ebebebf3;
    color:#000000;
}
.programming
{
    float: left;
    min-width: 60px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.programming:hover
{
    cursor: pointer;
    background-color: #ebebebf3;
    color:#000000;
}
.contact
{
    float: left;
    min-width: 60px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.contact:hover
{
    cursor: pointer;
    background-color: #ebebebf3;
    color:#000000;
}
.container
{
    width: 1000px;
}
.postcard
{
    float: left;
    margin-top:20px;
    margin-left: 150px;
    height:200px;
    padding-bottom:40px;
    background-color: black;
}
.text
{
    float: left;
    margin-top:20px;
    margin-left:500;
    height:200px;
    padding: 20px;
    width: 400px;
    margin-left:470;
    background-color: #c3d612;
}
.aboutme
{
    float: left;
    margin-top:20px;
    margin-left:900px;
    height:200px;
    padding: 20px;
    width: 200px;
    
    background-color: #c3d612;
}
.text2
{
    float: left;
    margin-top:20px;
    margin-left:500;
    height:200px;
    padding: 20px;
    width: 400px;
    margin-left:470;
    background-color: #c26946;
    
}
.text3
{
    float: left;
    margin-top:20px;
    margin-left:500;
    height:200px;
    padding: 20px;
    width: 400px;
    margin-left:470;
    background-color: #78ac85;
    
}







